# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend
/notesapp-ui/node_modules

# backend
/notesapp-server/node_modules
/notesapp-server/dist
/notesapp-server/src/generated/prisma
/notesapp-server/.env

/notesapp-server/src/**/*.js
/notesapp-server/src/**/*.js.map
/notesapp-server/src/**/*.d.ts
/notesapp-server/src/**/*.d.ts.map
/notesapp-server/prisma.config.js
/notesapp-server/prisma.config.js.map
/notesapp-server/prisma.config.d.ts
/notesapp-server/prisma.config.d.ts.map

# misc
.DS_Store
npm-debug.log*
